body {
  background-image: url();
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: 10em 50vh auto 10em;
  grid-template-columns: 1fr 5fr 1fr 2.5fr;
  grid-template-areas: "header header header header"
  "hero hero hero hero"
  ". main . sidebar"
  "footer footer footer footer";
}

header{
    grid-area: header;
}

header,footer{
    background-color: black;
    color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
}

.hero{
    grid-area: hero;
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/308367/gridarea-hero-bg.jpg);
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-title{
    margin: 0;
    font-family: 'Kanit', sans-serif;
    font-size: 80px;
}

.hero-subtitle{
    font-family: 'oswald', sans-serif;
    color: white;
    margin: 0;
    font-size: 40px;
}
aside{
    background-color: darkgray;
    padding: 2em;
    font-size: 20px;
}

main{
    grid-area: main; 
}

aside{
    grid-area: sidebar;
}

footer{
    grid-area: footer;
}
.card{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: min-content auto;
    grid-template-areas: "img title"
    "img content";
    box-shadow: 0 0 1em rgba(0,0,0,0.5);
    padding: 1em;
    grid-column-gap: 10px;
    margin-bottom: 1.5em;
}
.card img{
    grid-area: img;
    max-width: 100%;
}

.card-title{
    color: black;
    grid-area: title;
    margin: 0;
    font-weight: 200;
    
}
.card-content{
    grid-area: content;
    font-weight: 1000;
    font-size: 20px;
    color: black;
}
a{
    color: crimson;
    font-size: 30px;
}